html {
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
}

@media (max-width: 425px) {
  html {
    font-size: 4.25vw;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  color: rgba(0, 0, 0, 0.8);
  font-family: Georgia, serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  margin: 0 1rem;
  min-height: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 2rem 0;
}

p {
  margin: 1rem 0;
}

a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
}

pre {
  background-color: #282828;
  border-radius: 0.2rem;
  color: #ebdbb2;
  font-size: 0.9rem;
  padding: 1rem 2rem;
  overflow: auto;
}

@media (max-width: 768px) {
  pre {
    background-color: #282828;
    border-radius: 0;
    padding: 1rem 1rem;
    margin: 0 -1rem;
  }
}

::selection {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}
